body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:rgb(118, 215, 196);
    color: white
}
.container {
    width: 350px;
    height: 500px;
    margin: 100px auto;
    background:rgb(118, 215, 196);
    padding: 20px;
  
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
input, button {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
}
button {
    background:rgb(118, 215, 196);
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background:rgbrgb(118, 215, 196);
    color: black
    
}
nav {
    text-align: center;
    margin-bottom: 20px;
    height: 100px;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color:rgb(255, 255, 255);
}